/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/storage
.htaccess
.env.swp
/webhook/whatsapp_log_latest_m
/webhook/whatsapp_log_latest
/webhook/sms_log_latest
/public/images
